//variables
$gray: #939393;
$gray-lighten: #ececec;
$green: #438F36;
$green-lighten: #96B54F;
$orange: #F0933D;
$orange-darken: #BB7000;
$red: #D16565;
$red-lighten: #e6a3a3;
$black: #4A4A4A;
$blue:#77B4CE;
// settings
$bg: #fbfff2;
$baseColor: #FCF4E4;
$text-black: #45230A;
$text-white: #fff;
$text-gray: $gray;
$border-gray: $gray;
